## Editing Text Variables

### Loading data

In [49]:
if(!file.exists('.data')){dir.create("./data")}
fileUrl <- "https://data.baltimorecity.gov/api/views/dz54-2aru/rows.csv?accessType=DOWNLOAD"
download.file(fileUrl, destfile = "./data/cameras.csv")
cameraData <- read.csv("./data/cameras.csv")

Warning message in dir.create("./data"):
“'./data' already exists”

In [40]:
dim(cameraData)

[1] 80  9

In [41]:
names(cameraData)

[1] "address"                      "direction"
[3] "street"                       "crossStreet"
[5] "intersection"                 "Location.1"
[7] "X2010.Census.Neighborhoods"   "X2010.Census.Wards.Precincts"
[9] "Zip.Codes"

In [2]:
head(cameraData)

  address                                   direction street
1 GARRISON BLVD & WABASH AVE                E/B       Garrison \n
2 HILLEN ST & FORREST ST                    W/B       Hillen \n
3 EDMONDSON AVE & N ATHOL AVE               E/B       Edmonson\n
4 YORK RD & GITTINGS AVE                    S/B       York Rd \n
5 RUSSELL ST & W HAMBURG ST                 S/B       Russell\n
6 S MARTIN LUTHER KING JR BLVD & W PRATT ST S/B       MLK Jr. Blvd \n
  crossStreet    intersection                 Location.1
1 Wabash Ave     Garrison \n & Wabash Ave     (39.341209, -76.683117)
2 Forrest St     Hillen \n & Forrest St       (39.29686, -76.605532)
3 Woodbridge Ave Edmonson\n  & Woodbridge Ave (39.293453, -76.689391)
4 Gitting Ave    York Rd \n & Gitting Ave     (39.370493, -76.609812)
5 Hamburg St     Russell\n  & Hamburg St      (39.279819, -76.623911)
6 Pratt St       MLK Jr. Blvd \n & Pratt St   (39.286027, -76.627846)
  X2010.Census.Neighborhoods X2010.Census.Wards.Precincts Zip.Codes
1 252                         63                          27295
2 179                        108                          13645
3 213                         75                          27950
4  37                        270                          14009
5 250                        178                          27953
6  11                        168                          27953

In [5]:
tolower(names(cameraData))

[1] "address"                      "direction"
[3] "street"                       "crossstreet"
[5] "intersection"                 "location.1"
[7] "x2010.census.neighborhoods"   "x2010.census.wards.precincts"
[9] "zip.codes"

### fixiting character vectors - strsplit()

In [12]:
names(cameraData)[6]

[1] "Location.1"

能见到它的格式是`Location.1`，我们可以利用`strsplit()`对它作拆分

In [7]:
splitNames = strsplit(names(cameraData), "\\.")

In [10]:
splitNames[[5]]

[1] "intersection"

In [11]:
splitNames[[6]]

[1] "Location" "1"

### Quick aside - lists

In [22]:
mylist <- list(letters = c('a','b','c'), numbers = 1:3, matrix(1:25, ncol=5))

In [23]:
head(mylist)

$letters
[1] "a" "b" "c"

$numbers
[1] 1 2 3

[[3]]
     [,1] [,2] [,3] [,4] [,5]
[1,]    1    6   11   16   21
[2,]    2    7   12   17   22
[3,]    3    8   13   18   23
[4,]    4    9   14   19   24
[5,]    5   10   15   20   25

In [24]:
mylist[1]

$letters
[1] "a" "b" "c"

In [25]:
mylist$letters

[1] "a" "b" "c"

In [26]:
mylist[[1]]

[1] "a" "b" "c"

### Fixing character vectors - sapply()

- Applies a function to each element in a vector or list
- Important parameters: `X`, `FUN`

In [27]:
splitNames[[6]][1]

[1] "Location"

In [28]:
firstElement <- function(x){x[1]}
sapply(splitNames, firstElement)

[1] "address"      "direction"    "street"       "crossStreet"  "intersection"
[6] "Location"     "X2010"        "X2010"        "Zip"

In [29]:
reviews <- read.csv("./data/reviews.csv")
solutions <- read.csv("./data/solutions.csv")

In [30]:
head(reviews,2)

  id solution_id reviewer_id start      stop       time_left accept
1 1  3           27          1304095698 1304095758 1754      1
2 2  4           22          1304095188 1304095206 2306      1

In [31]:
head(solutions, 2)

  id problem_id subject_id start      stop       time_left answer
1 1  156        29         1304095119 1304095169 2343      B
2 2  269        25         1304095119 1304095183 2329      C

In [32]:
names(reviews)

[1] "id"          "solution_id" "reviewer_id" "start"       "stop"
[6] "time_left"   "accept"

用`sub()`命令去掉文本中的下横线`_`

In [33]:
sub("_", "", names(reviews),)

[1] "id"         "solutionid" "reviewerid" "start"      "stop"
[6] "timeleft"   "accept"

`sub()`删除掉文本中的第1个下横线，而保留随后的第2,3...N个下横线

In [34]:
testName <- "this_is_a_test"
sub("_", "", testName)

[1] "thisis_a_test"

用`gsub()`删除文本中的全部N个下横线

In [35]:
gsub("_","",testName)

[1] "thisisatest"

In [36]:
gsub("_",".",testName)

[1] "this.is.a.test"

### Finding values - grep(), grepl()

In [43]:
grep("Alameda", cameraData$intersection)

[1] 65 69 79

参数`value = TRUE`用于返回整个字段

In [51]:
grep("Alameda", cameraData$intersection, value = TRUE)

[1] "E 33rd  & The Alameda"    "The Alameda  & 33rd St"
[3] "Harford \n & The Alameda"

In [44]:
table(grepl('Alameda', cameraData$intersection))

FALSE  TRUE
   77     3

In [50]:
cameraData2 <- cameraData[
    !grepl("Alameda", cameraData$intersection), 
]

In [52]:
grep('JeffStreet', cameraData$intersection)

integer(0)

In [53]:
length(grep('JeffStreet', cameraData$intersection))

[1] 0

### More useful string functions

In [54]:
library(stringr)

`nchar()`返回字符数

In [57]:
nchar("Jeffrey Leek")

[1] 12

In [58]:
substr('Jeffrey Leek', 1, 7)

[1] "Jeffrey"

`paste`默认输入一个空格，将几部分text连结在一起。参数`sep="x"`可以改变默认的空格连缀符

In [61]:
paste("Jeffrey", 'Leek')

[1] "Jeffrey Leek"

In [60]:
paste("Jeffrey", 'Leek',sep = "_")

[1] "Jeffrey_Leek"

中间不想要任何连缀符的话，可以使用`paste0()`

In [63]:
paste("Jeffrey", "leek", sep = "")

[1] "Jeffreyleek"

In [64]:
paste0("Jeffrey", "leek")

[1] "Jeffreyleek"

`str_trim()`将文本最前和最后的所有空格都取消

In [67]:
str_trim("   Jeff        ")

[1] "Jeff"

## Regular Expressions

- Regular expressions can be thought of as a combination of literals and metacharacters
- To draw an analogy with natural language, thinki of literal text forming the words of this language, and the metacharacters defining its gramar
- Regular expressions have a rich set of metacharacters

`^` represents the beginning of a line, and `$` represents the end of a line

`[Bb], [Uu], [Ss], [Hh]` denotes a set of characters we will accept at a given point in the match, and is case insensitive

`^[Ii] am` will match ...

`^[0-9][a-zA-z]` for a range of number and letters, notice that the order does not matter

When used at the beginning of a character class, the "" is also a metacharacter and indicates matching characters NOT in the indicated class, e.g. `[^?.]$` denotes searching for any beginning word which does not have a `.`

will match the lines

i like basketballs
6 and 9
dont worry ... we all die anyway!
Not in Baghdad
helicopter under water? hmm....

`.` is sued to refer to any character. So

9.11

will match the lines

its stupid the post 9-11 rules
if any 1 of us did 9/11 we would have been caught in days.
NetBios: scanning ip 293.169.114.66
Front Door: 9:11:46 AM
Sings: 0.118999881999119725...3 !

`|` means "or", e.g. `flood|fire`, `flood|earthquake|hurricane|coldfire`

`^[Gg]ood|[Bb]ad`

Subexpressions are often contained in parentheses to constrain the alternatives, e.g. `^([Gg]ood|[Bb]ad)`

`^[Gg]eorge( [Ww]\.)? [Bb]ush` - We want to match a `.` as a literal period; to do that, we have to "escape" the metacharacter, proceding it with a backslash. In genral, we have to do this for any metacharacter we want to include in our match.

- `*` means any number, including none, of the item
- `+` means at least one of the item

`(.*)` will match the lines 寻找字段

anyone wanna char? (24, m, germany)
hello, 20.m here... (east area + drives + webcam)
(he means older men)
()

[0-9]+ (.*) [0-9]+ 寻找两个数字中间有间隔字段的情况，如

working as MP here 720 MP battallion, 42nd bridge
so say 2 or 3 years at colleage

`{and}` are referred to as interval quantifiers; the let us specify the minimum and maximum number of matches of an expression, e.g. `[Bb]ush( +[^ ]+ +){1,5} debate` will match

Bush has historically won all major debates he's done.
in my view, Bush doesn't need these debates...

`\1`,`\2`表示所有重复出现的情况，如 `+([a-zA-Z]+) +\1 +` will match

time for bed, night night twitter!
good good study, day day up

`*` is greedy, it always matches the longest possible string that satisfies the regular expression, e.g. `^s(.*)s` matches

sitting at starbucks
setting up mysql and rails
studying stuff for the exams

`^s(.*?)s`可用于让它less greedy，如`?=3`

## Working with dates

In [76]:
d1 = date()
d1

[1] "Fri Aug  7 17:57:28 2020"

In [77]:
class(d1)

[1] "character"

In [78]:
str(d1)

 chr "Fri Aug  7 17:57:28 2020"

In [79]:
d2 = Sys.Date()
d2

[1] "2020-08-07"

In [80]:
class(d2)

[1] "Date"

- `%d` = days as number (0-31)
- `%a` = abbreviated weekday
- `%A` = unabbreviated weekday
- `%m` = month (00-12)
- `%b` = abbreviated month
- `%B` = unabbreviated month
- `%y` = 2 digit year
- `%Y` = 4 digit year

In [81]:
format(d2, '%a %b %d')

[1] "五 8月 07"

In [84]:
x = c("1jan1960", '2jan1960', '31mar1960', '30jul1960')
z = as.Date(x, "%d%b%Y")
z

[1] NA NA NA NA

In [85]:
d2

[1] "2020-08-07"

In [86]:
weekdays(d2)

[1] "星期五"

In [87]:
months(d2)

[1] "八月"

In [88]:
julian(d2)

[1] 18481
attr(,"origin")
[1] "1970-01-01"

In [93]:
# install.packages("lubridate")
library(lubridate)
dt <- ymd("20140108")
dt

[1] "2014-01-08"

In [94]:
class(dt)

[1] "Date"

In [95]:
mdy('08/04/2018')

[1] "2018-08-04"

In [96]:
dmy('03-04-2013')

[1] "2013-04-03"

## Data Resources

## Week 4 Quiz

In [98]:
housing <- read.csv("./data/getdata_data_ss06hid.csv")
names(housing)

  [1] "RT"       "SERIALNO" "DIVISION" "PUMA"     "REGION"   "ST"
  [7] "ADJUST"   "WGTP"     "NP"       "TYPE"     "ACR"      "AGS"
 [13] "BDS"      "BLD"      "BUS"      "CONP"     "ELEP"     "FS"
 [19] "FULP"     "GASP"     "HFL"      "INSP"     "KIT"      "MHP"
 [25] "MRGI"     "MRGP"     "MRGT"     "MRGX"     "PLM"      "RMS"
 [31] "RNTM"     "RNTP"     "SMP"      "TEL"      "TEN"      "VACS"
 [37] "VAL"      "VEH"      "WATP"     "YBL"      "FES"      "FINCP"
 [43] "FPARC"    "GRNTP"    "GRPIP"    "HHL"      "HHT"      "HINCP"
 [49] "HUGCL"    "HUPAC"    "HUPAOC"   "HUPARC"   "LNGI"     "MV"
 [55] "NOC"      "NPF"      "NPP"      "NR"       "NRC"      "OCPIP"
 [61] "PARTNER"  "PSF"      "R18"      "R60"      "R65"      "RESMODE"
 [67] "SMOCP"    "SMX"      "SRNT"     "SVAL"     "TAXP"     "WIF"
 [73] "WKEXREL"  "WORKSTAT" "FACRP"    "FAGSP"    "FBDSP"    "FBLDP"
 [79] "FBUSP"    "FCONP"    "FELEP"    "FFSP"     "FFULP"    "FGASP"
 [85] "FHFLP"    "FINSP"    "FKITP"    "FMHP"     "FMRGIP"   "FMRGP"
 [91] "FMRGTP"   "FMRGXP"   "FMVYP"    "FPLMP"    "FRMSP"    "FRNTMP"
 [97] "FRNTP"    "FSMP"     "FSMXHP"   "FSMXSP"   "FTAXP"    "FTELP"
[103] "FTENP"    "FVACSP"   "FVALP"    "FVEHP"    "FWATP"    "FYBLP"
[109] "wgtp1"    "wgtp2"    "wgtp3"    "wgtp4"    "wgtp5"    "wgtp6"
[115] "wgtp7"    "wgtp8"    "wgtp9"    "wgtp10"   "wgtp11"   "wgtp12"
[121] "wgtp13"   "wgtp14"   "wgtp15"   "wgtp16"   "wgtp17"   "wgtp18"
[127] "wgtp19"   "wgtp20"   "wgtp21"   "wgtp22"   "wgtp23"   "wgtp24"
[133] "wgtp25"   "wgtp26"   "wgtp27"   "wgtp28"   "wgtp29"   "wgtp30"
[139] "wgtp31"   "wgtp32"   "wgtp33"   "wgtp34"   "wgtp35"   "wgtp36"
[145] "wgtp37"   "wgtp38"   "wgtp39"   "wgtp40"   "wgtp41"   "wgtp42"
[151] "wgtp43"   "wgtp44"   "wgtp45"   "wgtp46"   "wgtp47"   "wgtp48"
[157] "wgtp49"   "wgtp50"   "wgtp51"   "wgtp52"   "wgtp53"   "wgtp54"
[163] "wgtp55"   "wgtp56"   "wgtp57"   "wgtp58"   "wgtp59"   "wgtp60"
[169] "wgtp61"   "wgtp62"   "wgtp63"   "wgtp64"   "wgtp65"   "wgtp66"
[175] "wgtp67"   "wgtp68"   "wgtp69"   "wgtp70"   "wgtp71"   "wgtp72"
[181] "wgtp73"   "wgtp74"   "wgtp75"   "wgtp76"   "wgtp77"   "wgtp78"
[187] "wgtp79"   "wgtp80"

In [100]:
housingnamelist <- strsplit(names(housing), "wgtp")
housingnamelist[123]

[[1]]
[1] ""   "15"

In [162]:
gdp <- read.csv('data/getdata_data_GDP.csv')
gdp <- gdp[5:235,]
gdp <- select(gdp, c("X":"X.3"))
gdp <- rename(gdp, CountryCode = X, Ranking = Gross.domestic.product.2012, Country=X.2, Value = X.3)
gdp$X.1 <- NULL
gdp$Value <- as.integer(gsub(',', '', gdp$Value))
#mean(gdp$Value)

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

In [119]:
library(dplyr)
#?select

In [153]:
head(gdp)

   CountryCode Ranking Country        Value
5  USA         1       United States   16244600
6  CHN         2       China           8227103
7  JPN         3       Japan           5959718
8  DEU         4       Germany         3428131
9  FRA         5       France          2612878
10 GBR         6       United Kingdom  2471784

In [167]:
#gdp$Value <- as.numeric(gdp$Value)
#mean(as.integer(gdp$Value), na.rm = TRUE)
#gdp[, mean(as.integer(gsub(pattern = ',', replacement = '', x = gdp)))]
# mean(gdp[,'Value'])
#str(gdp)
mean(gdp$Value, na.rm = T)

[1] 1453710

In [168]:
grep("^United", gdp$Country)

Warning message in grep("^United", gdp$Country):
“input string 99 is invalid in this locale”
Warning message in grep("^United", gdp$Country):
“input string 186 is invalid in this locale”
Warning message in grep("^United", gdp$Country):
“input string 196 is invalid in this locale”

[1]  1  6 32

In [173]:
#library("data.table")
#gdp <- fread("data/getdata_data_GDP.csv", skip = 5, nrows = 190, select = c(1,2,4,5),
#     col.names=c('CountryCode', 'Rank', 'Country', 'GDP'))
gdp <- read.csv('data/getdata_data_GDP.csv')
gdp <- gdp[5:235,]
gdp <- select(gdp, c("X":"X.3"))
gdp <- rename(gdp, CountryCode = X, Ranking = Gross.domestic.product.2012, Country=X.2, Value = X.3)
gdp$X.1 <- NULL

In [186]:
edu <- read.csv('data/getdata_data_EDSTATS_Country.csv')
names(edu)

 [1] "CountryCode"
 [2] "Long.Name"
 [3] "Income.Group"
 [4] "Region"
 [5] "Lending.category"
 [6] "Other.groups"
 [7] "Currency.Unit"
 [8] "Latest.population.census"
 [9] "Latest.household.survey"
[10] "Special.Notes"
[11] "National.accounts.base.year"
[12] "National.accounts.reference.year"
[13] "System.of.National.Accounts"
[14] "SNA.price.valuation"
[15] "Alternative.conversion.factor"
[16] "PPP.survey.year"
[17] "Balance.of.Payments.Manual.in.use"
[18] "External.debt.Reporting.status"
[19] "System.of.trade"
[20] "Government.Accounting.concept"
[21] "IMF.data.dissemination.standard"
[22] "Source.of.most.recent.Income.and.expenditure.data"
[23] "Vital.registration.complete"
[24] "Latest.agricultural.census"
[25] "Latest.industrial.data"
[26] "Latest.trade.data"
[27] "Latest.water.withdrawal.data"
[28] "X2.alpha.code"
[29] "WB.2.code"
[30] "Table.Name"
[31] "Short.Name"

In [178]:
#merged.gdp.edu <- merge(gdp, edu, by.x = 'CountryCode', by.y='CountryCode')
merged.gdp.edu <- merge(gdp, edu, by="CountryCode")

In [179]:
head(merged.gdp.edu)

  CountryCode Ranking Country              Value
1 ABW         161     Aruba                 2,584
2 ADO                 Andorra              ..
3 AFG         105     Afghanistan           20,497
4 AGO         60      Angola                114,147
5 ALB         125     Albania               12,648
6 ARE         32      United Arab Emirates  348,595
  Long.Name                    Income.Group         Region
1 Aruba                        High income: nonOECD Latin America & Caribbean
2 Principality of Andorra      High income: nonOECD Europe & Central Asia
3 Islamic State of Afghanistan Low income           South Asia
4 People's Republic of Angola  Lower middle income  Sub-Saharan Africa
5 Republic of Albania          Upper middle income  Europe & Central Asia
6 United Arab Emirates         High income: nonOECD Middle East & North Africa
  Lending.category Other.groups Currency.Unit  ⋯
1                               Aruban florin  ⋯
2                               Euro           ⋯
3 IDA              HIPC         Afghan afghani ⋯
4 IDA                           Angolan kwanza ⋯
5 IBRD                          Albanian lek   ⋯
6                               U.A.E. dirham  ⋯
  Source.of.most.recent.Income.and.expenditure.data Vital.registration.complete
1
2                                                   Yes
3
4 IHS, 2000
5 LSMS, 2005                                        Yes
6
  Latest.agricultural.census Latest.industrial.data Latest.trade.data
1                              NA                   2008
2                              NA                   2006
3                              NA                   2008
4 1964-65                      NA                   1991
5 1998                       2005                   2008
6 1998                         NA                   2008
  Latest.water.withdrawal.data X2.alpha.code WB.2.code Table.Name
1   NA                         AW            AW        Aruba
2   NA                         AD            AD        Andorra
3 2000                         AF            AF        Afghanistan
4 2000                         AO            AO        Angola
5 2000                         AL            AL        Albania
6 2005                         AE            AE        United Arab Emirates
  Short.Name
1 Aruba
2 Andorra
3 Afghanistan
4 Angola
5 Albania
6 United Arab Emirates

In [184]:
names(merged.gdp.edu)

 [1] "CountryCode"
 [2] "Ranking"
 [3] "Country"
 [4] "Value"
 [5] "Long.Name"
 [6] "Income.Group"
 [7] "Region"
 [8] "Lending.category"
 [9] "Other.groups"
[10] "Currency.Unit"
[11] "Latest.population.census"
[12] "Latest.household.survey"
[13] "Special.Notes"
[14] "National.accounts.base.year"
[15] "National.accounts.reference.year"
[16] "System.of.National.Accounts"
[17] "SNA.price.valuation"
[18] "Alternative.conversion.factor"
[19] "PPP.survey.year"
[20] "Balance.of.Payments.Manual.in.use"
[21] "External.debt.Reporting.status"
[22] "System.of.trade"
[23] "Government.Accounting.concept"
[24] "IMF.data.dissemination.standard"
[25] "Source.of.most.recent.Income.and.expenditure.data"
[26] "Vital.registration.complete"
[27] "Latest.agricultural.census"
[28] "Latest.industrial.data"
[29] "Latest.trade.data"
[30] "Latest.water.withdrawal.data"
[31] "X2.alpha.code"
[32] "WB.2.code"
[33] "Table.Name"
[34] "Short.Name"

In [188]:
merged.gdp.edu[, `Special.Notes`]

ERROR: Error in `[.data.frame`(merged.gdp.edu, , Special.Notes): object 'Special.Notes' not found

In [199]:
# grepl(pattern = 'Fiscal year end: June 30', merged.gdp.edu[, 'Special.Notes'])
nrow(merged.gdp.edu[grepl(pattern = 'Fiscal year end: June 30', merged.gdp.edu[, 'Special.Notes']), .N])

[1] 13

In [200]:
install.packages("quantmod")

Installing package into ‘/home/yanyuan/R/x86_64-pc-linux-gnu-library/4.0’
(as ‘lib’ is unspecified)

also installing the dependencies ‘xts’, ‘zoo’, ‘TTR’

In [201]:
library(quantmod)
amzn = getSymbols("AMZN",auto.assign=FALSE)
sampleTimes = index(amzn)

Loading required package: xts

Loading required package: zoo


Attaching package: ‘zoo’


The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric



Attaching package: ‘xts’


The following objects are masked from ‘package:data.table’:

    first, last


The following objects are masked from ‘package:dplyr’:

    first, last


Loading required package: TTR

Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo

Version 0.4-0 included new data defaults. See ?getSymbols.

‘getSymbols’ currently uses auto.assign=TRUE by default, but will
use auto.assign=FALSE in 0.5-0. You will still be able to use
‘loadSymbols’ to automatically load data. getOption("getSymbols.env")
and getOption("getSymbols.auto.assign") will still be checked for
alternate defaults.

This message is shown once per session and may be disabled by setting
options("getSymbols.warning4.0"=FALSE). See ?getSymbols for details.

In [214]:
sampleTimes <- index(amzn)
timeDT <- data.table::data.table(timeCol = sampleTimes)

In [216]:
timeDT[(timeCol >= "2012-01-01") & (timeCol < "2013-01-01"), .N]

[1] 250

In [219]:
timeDT[(timeCol >= "2012-01-01") & (timeCol < "2013-01-01") & (weekdays(timeCol) == '星期一'), .N]

[1] 47

# Peer-graded Assignment

In [ ]:
#